.main {
  margin: 0 auto;
  background: #ffffff;
  font-family: "Lato";
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 550px) {
  .main {
    width: 80%;
  }
}

@media only screen and (min-width: 1512px) {
  .main {
    width: 60%;
  }
}
